.dark-theme {
    ion-content {
        background-color: #090f2f;
        color: #fff;
    }
    .toolbar-title {
        color: #fff;
    }
    .header .toolbar-background {
        border-color: #ff0fff;
        background-color: #090f2f;
    }
    .test {
        background-color: blue;
        font-size: 30px;
    }
}