.light-theme {
    ion-content {
        background-color: #fff;
    }
    .toolbar-background {
        background-color: #fff;
    }
    .test {
        background-color: red;
        font-size: 30px;
    }
}