.other-theme {
    ion-content {
        background-color: #0f299f;
        color: #f333ff;
    }
    .toolbar-title {
        color: #fff;
    }
    .header .toolbar-background {
        border-color: #962036;
        background-color: #029;
    }
    .test {
        background-color: #963123;
        font-size: 30px;
    }
}